@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* ここからタグ */

body {
  background-size: cover;
  background-image: url(../images/background-all.jpg);
  background-repeat: repeat;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}

h1,
h2 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: #70513A;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 65px;
  color: #070300;
  letter-spacing: 0.1rem;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: calc(38 / 20);
}

header {
  position: sticky;/*固定する*/
  position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
  top: 0;/*ブラウザの上からの距離はゼロ*/
  z-index: 1000;
  height: 64px;
}

/* ここまでタグ */

/* ここから各セレクタ */

.header_nav_bar {
  height: 64px;
  background-color: rgba(255,255,255,.5);
  position: relative; 
}

.header_nav_var nav {
  box-shadow: none;
  
}

.header_nav_bar_content {

}

.top_content {
  padding: 0 30px;
  text-align: center;
  background-color: #F0D7C5;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content_box {
  margin-bottom: 64px;
}

.top_content_title {
  margin-bottom: 20px;
}

.top_content_sub_title {
  font-size: 30px;
  color: #BDA99B;
  margin-bottom: 45px;
}

.top_content_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content_img img {
  transition: transform 0.8s ease-in-out;
}

.top_content_img img:hover {
  transform: rotate(180deg);
}

.content_box {
  padding: 0 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_box p {
  text-align: center;
}

.white_content_box {
  height: 100vh;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEFD;
}

.info_contents {
  max-width: 86vw;
}

.my_info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 13%;
}

.my_img {
  width: 30%;
}

.my_introduction {
  margin: 30px 0 0 25px;
  text-align: left;
  inline-size: 70%;
  overflow-wrap: break-word;
}

.sns_icons {
  display: flex;
  align-items: center;
  margin: 0 0 0 36.2%;
}

.twitter_icon, 
.qiita_icon,
.github_icon {
  display: inline-block;
  margin-right: 27px;
}

.fixed_contents {
  width: 85vw;
  height: 80vh;
}

.first_contents {
  margin-top: 67px;
  height: 70%;
}

.lower_row {
  margin-top: 37px;
}

.content_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc((100% - 37px) / 2);
}

.content_list {
  width: calc((100% - (37px * 2)) / 3);
  height: 100%;
  background-color: #FFFEFD;
}

.content_list:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  transition-duration: 0.7s
}

.contact_contents {
  width: 55vw;
}

.form_area {
  margin-top: 150px;
}

.text_form,
.sentence_form {
  display: block;
  border: none;
  border-bottom: 1px solid #ADA096;
  padding: 0 0 11px 7.5px;
  width: 100%;
}

.text_form {
  margin-bottom: 58px;
}

textarea:focus, input:focus{
  outline: none;
}

.submit_area {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit_button {
  display: inline-block;
  margin-top: 48px;
  background: #FFFCFA;
  color: #070300;
  border: 1px solid #F0D7C5;
  width: 280px;
  height: 54px;
  cursor: pointer;
}

.sentence_form::placeholder { 
  position: relative;
  top: 1.5em;
}