@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* ここからタグ */

body {
  background-size: cover;
  background-image: url(../images/background-all.jpg);
  background-repeat: repeat;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}

h1,
h2 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: #70513A;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 65px;
  color: #070300;
  letter-spacing: 0.04rem;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: calc(38 / 20);
}

header {
  position: sticky;/*固定する*/
  position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
  top: 0;/*ブラウザの上からの距離はゼロ*/
  z-index: 1000;
  height: 64px;
}

/* ここまでタグ */

/* ここから各セレクタ */

.header_nav_bar {
  height: 64px;
  background-color: rgba(255,255,255,.7);
  position: relative; 
}

.header_nav_var nav {
  box-shadow: none;
  
}

.header_nav_bar_content {

}

.top_content {
  text-align: center;
  background-color: #F0D7C5;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content_box {
  margin-bottom: 64px;
}

.top_content_title {
  margin-bottom: 20px;
}

.top_content_sub_title {
  font-size: 30px;
  color: #BDA99B;
  margin-bottom: 45px;
}

.top_content_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content_img img {
  transition: transform 0.8s ease-in-out;
}
.top_content_img img:hover {
  transform: rotate(180deg);
}